<h2>Crear Producto</h2>
<form action="/products" method="post">
    <label>Nombre:</label>
    <input name="nombre">
    <label>Precio:</label>
    <input name="precio">
    <label>Thumbnail:</label>
    <input name="thumbnail">
    <input type="submit">
</form>

<a href="/products" class="btn btn-success">Ver Productos !!</a>