<h2>Crear Producto</h2>
<form id="productsForm">
    <label>Nombre Producto:</label>
    <input name="title">
    <label>Precio:</label>
    <input name="price">
    <label>Thumbnail:</label>
    <input name="thumbnail">
    <input type="submit">
</form>
<hr />
<div id="history">No hay prodcutos !!!</div>
<hr />
<h2>Historial Mensajes</h2>
<form id="chatForm">
    <input name="email"  placeholder="ingrese su email">
    <br>
    
    <input name="message" placeholder="ingrese texto del mensaje">
    <br>
    <input type="submit">
    <div id="chatHistory">No hay mensajes para mostrar !!!</div>
</form>
